li {
  list-style: none;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.keyboard {
  width: 213px;
  display: flex;
  flex-wrap: wrap;
}
